In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("GlobalLandTemperaturesByMajorCity.csv")

In [15]:
#df.pivot_table(df, index = ["Country"])
#Indexe können auch als Liste übergeben werden
pivot = df.pivot_table(df, index = ["Country" , "City"])
pivot.head()

                       AverageTemperature  AverageTemperatureUncertainty
Country     City
Afghanistan Kabul               14.342919                       0.948359
Angola      Luanda              23.693046                       0.745803
Australia   Melbourne           13.374304                       0.568205
            Sydney              17.002299                       0.598327
Bangladesh  Dhaka               25.490568                       0.867069

In [60]:
df[(df["Country"] == "Brazil") & (df["dt"] == "1832-01-01")]

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
22319,1832-01-01,22.516,1.556,Belo Horizonte,Brazil,20.09S,44.36W
32629,1832-01-01,21.873,1.604,Brasília,Brazil,15.27S,47.50W
183791,1832-01-01,25.320,1.508,Rio De Janeiro,Brazil,23.31S,42.82W
191260,1832-01-01,22.288,1.587,São Paulo,Brazil,23.31S,46.31W
196680,1832-01-01,25.593,1.554,Salvador,Brazil,13.66S,38.81W

In [35]:
#Wenn man sich nur eine Spalte ausgeben lässt, wird das df automatisch zu einer Series
pivot2 = df.pivot_table(df, index = ["Country" , "City"])

In [38]:
pivot2.dtypes

AverageTemperature               float64
AverageTemperatureUncertainty    float64
dtype: object

In [61]:
#Funktioniert nichtm wenn das File gerade geöffnet ist
#Bei float_format='%.2f' erkennt Excel die Zahlen teilweise fälschlicherweise als Datum
#Wie Umlaute korrekt abspeichern?
pivot2.to_csv("First Pivot Table in Pandas.csv", float_format='%.3f', sep=";",  encoding='utf-8')

In [34]:
pivot2.describe()

count    100.000000
mean      18.775863
std        7.308048
min        3.625744
25%       12.408374
50%       20.331955
75%       25.531680
max       29.081291
Name: AverageTemperature, dtype: float64